<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vagas de Emprego</title>
    <link rel="stylesheet" href="/static/listar_vagas.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="top_nav">
      {% if data["usuario"] %}
      <a class="tab" href="/criarvaga">Criar vaga</a>
      <a class="tab" href="/manutencao">Minhas vagas</a>
      <a class="tab" href="/logout">Sair</a>
      {% else %}
      <a class="tab" href="/login">Login</a>
      {% endif %}
    </div>

    <h1>Vagas de Emprego</h1>
    <div id="vagas"></div>
    <script>
        $(document).ready(function() {
          $.post('/api/vagasresumidas', function(vagas) {
            var html = '';
            $.each(vagas, function(index, vaga) {
              html += '<a href="/vaga/' + vaga.id + '"> <div class="vaga">';
              html += '<div class="salario">Empresa: ' + vaga.usuario + '</div>';
              html += '<div class="funcao"> Posição: ' + vaga.funcao + '</div>';
              html += '<div class="salario">Salário: ' + vaga.salario + '</div>';
              html += '</div> </a>';
            });
            $('#vagas').html(html);
          });
        });
    </script>
  </body>
</html>
