<!DOCTYPE html>
<html>
<head>
	<title>Logout</title>
	<link rel="stylesheet" type="text/css" href="static/logout.css">
</head>
<body>
	<div class="top_nav">
      <a class="tab" href="/">Voltar</a>
    </div>

	<div class="container">
		<h1>Tem certeza de que deseja sair?</h1>
		<button onclick="logout()">Sair</button>
	</div>

	<script>
		function logout() {
			let xhr = new XMLHttpRequest();

			xhr.open("POST", "/api/logout")

			xhr.send()

			xhr.onreadystatechange = () => {
				if (xhr.readyState === 4) {
					window.location.href = "/";
				}
			}
		}
	</script>
</body>
</html>
