<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vaga - {{vaga["funcao"]}}</title>
    <link rel="stylesheet" href="/static/vaga.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="funcao">{{vaga["funcao"]}}</div>
    <div class="cargo">{{vaga["cargo"]}}</div>
    <div class="salario">{{vaga["salario"]}}</div>
    <div class="horas">{{vaga["horas"]}}</div>
    <div class="lugar">{{vaga["lugar"]}}</div>
    <div class="contato">{{vaga["contato"]}}</div>
  </body>
</html>
